
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Aluno</title>
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <%- include('./includes/header.ejs') %>
    
    <div class="form_container">
        <form method="POST" action="/<%= aluno.id %>/editar_aluno_view"> 
            <div class="form-group">
              <label for="exampleInputEmail1">Nome do aluno</label>
              <input name="nome" value="<%= aluno.nome %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <br />
            <div class="form-group">
              <label for="exampleInputPassword1">Pontuação do aluno</label>
              <input value="<%= aluno.points %>" type="number" name="points" class="form-control" id="exampleInputPassword1" >
            </div>
            <br />
            <br />
            <button type="submit" class="btn btn-primary">Salvar alterações</button>
            <br>
            <a href="/" class="btn btn-danger" style="width: 70px">Voltar</a>
          </form>
    </div>
</body>
</html>