{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remover aluno</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    <%- include("./includes/header.ejs") %>

    <div class="form_container">
        <form method="POST" action="/remover_aluno_page/delete"> 
            <h1>Selecione uma aluno para excluir</h2>
            <select name="nome">
                <% for(aluno of alunos) { %>
                    
                    <option value=<%= aluno.nome %>><%= aluno.nome %></option>
                    
                <% } %>
            </select>
            <br /> <br />  
            <button type="submit" class="btn btn-secondary">Excluir</button>
        </form>
        <br />
        <a href="/" class="btn btn-danger">Voltar</a>
        <br />
    </div>
</body>
</html>